@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Jua&display=swap");

:root {
  --font-1: "Exo";
  --font-2: "Jua";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Exo;
  background-color: black;
}

/* NAVBAR */

.navbar-main {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 30px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Semi-transparent black for the navbar */
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Adds a frosted glass effect */
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li {
  margin: 0 5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #6cb762; /* Highlight color on hover */
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 130%;
  height: auto;
}

.container {
  margin: auto;
  margin-top: 3rem;
}

.align-right {
  text-align: right;
}

/* HERO IMAGE */

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1 {
  display: flex;
  color: white;
  position: absolute;
  font-size: 10rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-2);
  letter-spacing: 0.5rem;
  text-shadow: 3px 2px 1px black;
  background-color: transparent;
  opacity: 1 !important;
}

.callout-section {
  height: 900px;
  z-index: 1;
}

.callout-h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: white;
  padding: 1.7rem 0rem 1.5rem 3rem;
}

.callout-h3 {
  font-weight: 200;
  color: white;
  padding: 0rem 0rem 1.5rem 3rem;
}

.callout-section p {
  color: white;
  font-size: 1rem;
  padding: 0rem 3rem 1.5rem 3rem;
}

.landing-image {
  position: absolute;
  width: 100%;
}

.reviews {
  display: none;
}

.features {
  display: none;
}

@media (max-width: 1024px) {
  .navbar-main {
    display: none;
  }

  .hero {
    height: 100vh;
  }

  .hero-image {
    width: 100vw; /* Ensures it fills the viewport width */
    height: 100vh; /* Ensures it fills the viewport height */
    object-fit: cover; /* Scales image to fill the container, cropping overflow */
    object-position: center; /* Centers the image */
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 6rem;
    top: 20%;
    left: 50%;
    z-index: 1;
  }
}

@media (max-width: 420px) {
  .hero h1 {
    font-size: 3rem;
    top: 20%;
    left: 50%;
    z-index: 1;
  }

  .hero img {
    transform: scale(1.5);
    float: left;
    margin-left: 6rem;
  }

  .callout-h1 {
    font-size: 2.5rem;
    padding: 1.5rem 1.2rem 1rem 1.2rem;
  }

  .callout-h3 {
    font-size: 1.5rem;
    padding: 0.3rem 1.2rem 1rem 1.2rem;
  }

  .callout-section p {
    padding: 0.1rem 1.2rem 1rem 1.2rem;
  }
}
