@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Jua&display=swap");

:root {
  --font-1: "Exo";
  --font-2: "Jua";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Exo;
  background-color: rgb(2, 2, 2);
}

/* NAVBAR for desktop*/

.navbar {
  padding: 0;
  width: 100%;
  display: flex;
  z-index: 1000; /* keep navbar on top */
}

.desktop-nav {
  position: fixed; /* position absolutely so it won't follow*/
  top: 0;
  left: 0;
  height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* center nav links */
  width: 100%;
}

.nav-links a {
  color: white;
  margin-left: 3rem;
  text-decoration: none;
  margin-right: 3rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transition: ease 0.4s;
}

.nav-links a:hover {
  color: rgb(255, 150, 13);
}

.nav-logo img {
  margin-left: 5rem;
  margin-right: 5rem;
  height: 40px;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  justify-content: space-evenly;

  z-index: 1000;
}
.mobile-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

.dropdown-menu,
.purchase-menu {
  display: none;
  position: fixed;
  height: auto;
  top: 72.4%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: right;
  transition: ease-in(0.3s);
  margin: 0;
  border: none;
}

.dropdown-menu {
  text-align: left;
}

.dropdown-menu a,
.purchase-menu a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  font-size: 1.5rem;
}

/* Scroll Behavior */
.navbar.scrolled {
  position: fixed;
  top: 0;
  bottom: unset;
  background: rgba(0, 0, 0, 0.8);
}

/* HERO IMAGE */

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero h1 {
  display: flex;
  color: white;
  position: absolute;
  font-size: 10rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-2);
  letter-spacing: 0.5rem;
  text-shadow: 3px 2px 1px black;
  background-color: transparent;
  opacity: 1 !important;
}

.about-content {
  position: absolute;
  padding: 4rem 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    #000000 6rem,
    rgba(18, 154, 240, 0) 100%
  );
}

.callout-h1 {
  font-weight: 700;
  font-size: 3.4rem;
  color: white;
  padding: 1.7rem 0rem 1.5rem 3rem;
  z-index: 99;
}

.callout-h3 {
  font-weight: 200;
  color: white;
  padding: 0rem 0rem 1.5rem 3rem;
  z-index: 99;
}

#about {
  overflow: hidden;
}

#about p {
  color: white;
  font-size: 1rem;
  padding: 0rem 3rem 1.5rem 3rem;
  z-index: 99;
}

.landing-image {
  height: 800px;
  object-fit: cover;
  overflow: hidden;
}

.features {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .hero {
    height: 100vh;
  }

  .hero-image {
    width: 100vw; /* Ensures it fills the viewport width */
    height: 100vh; /* Ensures it fills the viewport height */
    object-fit: cover; /* Scales image to fill the container, cropping overflow */
    object-position: center; /* Centers the image */
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 6rem;
    top: 20%;
    left: 50%;
    z-index: 1;
  }

  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}

@media (max-width: 420px) {
  .hero h1 {
    font-size: 3.5rem;
    top: 25%;
    left: 50%;
    z-index: 1;
  }

  .hero img {
    transform: scale(1.2);
    float: left;
  }

  .spacer-image {
    width: 0;
  }

  .callout-h1 {
    font-size: 2.5rem;
    padding: 0rem 2rem 1rem 2rem;
  }

  .callout-h3 {
    font-size: 2rem;
    padding: 0.3rem 2rem 1rem 2rem;
  }

  #about p {
    padding: 0.1rem 2rem 1rem 2rem;
    text-shadow: 2px 3px 2px black;
  }

  .landing-image {
    position: relative;
    right: 132%;
    overflow: hidden;
  }

  #reviews {
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
  }

  #reviews .review {
    padding-bottom: 1rem;
  }

  #reviews .review h3 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
  }

  #reviews .review p {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
}
